VITE_API_URL=http://localhost:3000
VITE_CMS_URL=http://127.0.0.1:4174
VITE_GOOGLE_CLIENT_ID=
VITE_IMAGEKIT_PUBLIC_KEY=
VITE_IMAGEKIT_URL_ENDPOINT=
VITE_MIDTRANS_CLIENT_KEY=
VITE_MIDTRANS_IS_PRODUCTION=false
